body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    flex-basis: 100%;
    background-color: black;
	display: flex;
	flex-wrap: wrap;
}

header > img{
    width: 100%;
    height: 60vh;
}

header > nav > ul{
    display: flex;
    padding-left: 0;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
	padding: 10px;
	display: block;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:x-large;
}

header > nav > ul > li{
    list-style: none;
    text-align: center;
	flex-basis: 20%;
    margin: 10px;
}

nav{
	flex-basis: 100%;
    background-color: #8b846a;
}

h1 , h2{
    color: white;
}

main{
    flex-basis: 100%;
    text-align: center;
    margin: 30px;
}

p{
    color: white;
    text-align: justify;
}

.perso1{
    border-bottom: solid white 2px;
}

.perso1:hover{
    border-left: solid white 2px;
    border-right: solid white 2px;
}

.perso2:hover{
    border-left: solid white 2px;
    border-right: solid white 2px;
}

.perso3:hover{
    border-left: solid white 2px;
    border-right: solid white 2px;
}

.perso4:hover{
    border-left: solid white 2px;
    border-right: solid white 2px;
}

.perso5:hover{
    border-left: solid white 2px;
    border-right: solid white 2px;
}

footer{
    flex-basis: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border: solid #8b846a 2px;
}

footer > img{
    width: 15em;
}

.zed{
    width: 2em;
}
.test{
    color: black;
    filter: brightness(0%);
}
.test:hover{
    color: white;
    filter: brightness(100%);
}

.flèche{
    width: 5em;
}