body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    flex-basis: 100%;
    background-color: black;
	display: flex;
	flex-wrap: wrap;
}

header > img{
    width: 100vw;
    height: 60vh;
}

header > nav > ul{
    display: flex;
    padding-left: 0;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
	padding: 10px;
	display: block;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:x-large;
}

header > nav > ul > li{
    list-style: none;
    text-align: center;
	flex-basis: 20%;
    margin: 10px;
}

main{
    flex-basis: 60%;
	margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.Image_gauche{
    display: flex;
    background-color: black;
    margin-bottom: 30px;
    margin-left: 30px;
    border: solid #8b846a 2px;
    padding-right: 10px;
    flex-basis: 100%;
}

.Image_droite{
    display: flex;
    background-color: black;
    margin-bottom: 30px;
    margin-left: 30px;
    border: solid #8b846a 2px;
    padding-left: 10px;
    flex-basis: 100%;
}

main > div > img{
    width: 5vw;
}

p{
    text-align: justify;
    color: white;
}

h2 , li{
    color: white;
}

nav{
	flex-basis: 100%;
    background-color: #8b846a;
}

h3{
	color: black;
}

aside > section > a{
	color: black;
    text-decoration: none;
}

aside{
	margin-left: 30px;
    background-color: white;
    height: 50%;
    margin-top: 30px;
    border: solid #8b846a 5px;
    flex-basis: 30vw;
    flex-grow: 1;
}

aside > section > ul > li{
	list-style: none;
}

aside p , li{
    color: black;
}

.sec_aside{
    margin: 20px;
}

.perso1:hover{
    border-right: solid white 2px;
    border-left: solid white 2px;
}

.perso2:hover{
    border-right: solid white 2px;
    border-left: solid white 2px;
}

.perso3:hover{
    border-right: solid white 2px;
    border-left: solid white 2px;
}

.perso4:hover{
    border-right: solid white 2px;
    border-left: solid white 2px;
}

.perso5:hover{
    border-right: solid white 2px;
    border-left: solid white 2px;
}

.perso3{
    border-bottom: solid white 2px;
}

footer{
    flex-basis: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border: solid #8b846a 2px;
}

footer > img{
    width: 15em;
}

aside a{
    text-decoration: none;
}

section > ul > li > img{
    width: 1em;
}

section > img{
    width: 1em;
}

section > ul{
    padding-left: 0;
}

.perso4:hover{
    border-right: solid white 2px;
    border-left: solid white 2px;
}

.zed{
    width: 2em;
}
.test{
    color: black;
    filter: brightness(0%);
}
.test:hover{
    color: white;
    filter: brightness(100%);
}

.flèche{
    width: 5em;
}